<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.xue.plugin.base_64_converter</string>
	<key>connections</key>
	<dict>
		<key>62B713B3-E7BD-4E17-9CFB-428D1ED5E973</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60DDAC96-23CE-4799-8350-C3727685D608</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>88F825BD-DDB4-4092-A7D6-44C817EA8D20</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62B713B3-E7BD-4E17-9CFB-428D1ED5E973</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4E02BEA-29DE-44C5-98B8-ABD1062EFDFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F81967E6-E068-47CB-9EB1-5728E0F49AC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE331C4C-2DC0-44A6-AC91-5BB10CFB13F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FEF24980-1804-41A6-AF3C-F983CA1A41BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F81967E6-E068-47CB-9EB1-5728E0F49AC9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE331C4C-2DC0-44A6-AC91-5BB10CFB13F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>88F825BD-DDB4-4092-A7D6-44C817EA8D20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FEF24980-1804-41A6-AF3C-F983CA1A41BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC7BD9B9-5711-40C6-BB64-0AF106B796BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>xuesong</string>
	<key>description</key>
	<string>文件转base64</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Base64Converter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DC7BD9B9-5711-40C6-BB64-0AF106B796BB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

python convert_result.py "$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FEF24980-1804-41A6-AF3C-F983CA1A41BF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^Y</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>CE331C4C-2DC0-44A6-AC91-5BB10CFB13F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1


python file2base64_converter.py "$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F81967E6-E068-47CB-9EB1-5728E0F49AC9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>b64</string>
				<key>subtext</key>
				<string>请选择文件不大于5M的文件</string>
				<key>text</key>
				<string>请选择文件</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B4E02BEA-29DE-44C5-98B8-ABD1062EFDFF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
	var app = Application.currentApplication()
 
	app.includeStandardAdditions = true
 
	app.displayNotification(argv[0], {
    		withTitle: "base64转换失败",
    		soundName: "Frog"
	})
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>60DDAC96-23CE-4799-8350-C3727685D608</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

python convert_result.py "$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>62B713B3-E7BD-4E17-9CFB-428D1ED5E973</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^N</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>88F825BD-DDB4-4092-A7D6-44C817EA8D20</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>60DDAC96-23CE-4799-8350-C3727685D608</key>
		<dict>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>62B713B3-E7BD-4E17-9CFB-428D1ED5E973</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>88F825BD-DDB4-4092-A7D6-44C817EA8D20</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>B4E02BEA-29DE-44C5-98B8-ABD1062EFDFF</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>CE331C4C-2DC0-44A6-AC91-5BB10CFB13F1</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>DC7BD9B9-5711-40C6-BB64-0AF106B796BB</key>
		<dict>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>F81967E6-E068-47CB-9EB1-5728E0F49AC9</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>FEF24980-1804-41A6-AF3C-F983CA1A41BF</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
